<html>
<body>
    <div>
      <ul id="listuser">
        <h3> All users here: </h3>
      </ul> 
    </div>
    <form class="container" action="/" method="POST">
  <form onsubmit="return false"><div class="container"><label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" id= "uname"                  name="uname" required><label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" id="psw" name="psw" required><button onclick="Login()"><a href="/block">Submit</a></button>
  </div>
  </form>
  <script type="text/javascript" src="panel.js"></script>
  <script type="text/javascript" src="purify.min.js"></script>
  </body>
  </html>